{% extends 'app/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Delete {{ notification.name }}</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <p>Jestes pewny ze chcesz usunac to ogloszenie: {{ notification.name }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Potwierdź usunięcie</button>
        <a href="{% url 'account' %}" class="btn btn-secondary">Anuluj</a>
    </form>
</div>
{% endblock %}